#header {
  height: $header-height;
  background: $header-bg;
  #logo {
    display: block;
    float: left;
    height: $logo-height;
    margin: 9px 0 0 10px;
  }
  .btn_download {
    float: right;
    height: 25px;
    line-height: 25px;
    margin: 9px 10px 0 0;
    padding: 0 12px;
    font-size: 14px;
    font-weight: 400;
    background: #149c5a;
    color: #fff;
    border-radius: 99px;
  }
}

