$body-bg: #f4f4f4;
$color-primary:#31c27c;

$header-height: 44px;
$header-bg: #31c27c;

$logo-height: 25px;

$nav-height: 40px;
$nav-color: rgba(0,0,0,.6);
$nav-active-color: #31c27c;
$nav-active-border-color: #31c27c;

$font-color: #000;
$link-color: rgba(0,0,0,.5);